<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Social Star</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <!-- Boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Optional Theme-->
    <!--<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--JS minified-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <!--Master css-->
    <link rel="stylesheet" href="{% static 'simplesocial/css/master.css' %}" >

</head>
<body>
    <nav class="navbar mynav bg-light" role="navigation" id="navbar" >
        <div class="container">
            <a class="navbar-brand mynav" href="{% url 'home' %}">Social Star</a>

            <ul class="nav navbar-nav float-md-right">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="#">Post</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Groups</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Create Group</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Log Out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#">Groups</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}

            </ul>    
        </div>
    </nav>

    <div class="container mycontent">
        {% block content %}
    
        {% endblock %}
    </div>
   
</body>
</html>